*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
* {
    font-family: sans-serif;
}
nav {
    background: #fd5392;
    height: 66px;
}

nav .logo {
    font-size: 45px;
    line-height: 100px;
    padding: 0 20px;
    float: left;
    color: #fff;
}
nav .logo h1 {
    font-weight: 600;
    line-height: 60px;
}
nav ul {
    float: right;
    line-height: 30px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}
nav ul li a {
    padding: 7px 13px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
nav #check {
    display: none;
}
nav .checkbtn {
    float: right;
    cursor: pointer;
    line-height: 68px;
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    display: none;
}
@media (max-width: 720px) {
    nav ul {
        width: 100%;
        height: auto;
        position: fixed;
        top: 64px;
        left: -100%;
        background-color: #fd5392;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
    }
    nav .checkbtn {
        display: block;
    }
    nav #check:checked ~ ul {
        left: 0;
    }
}
